//- переменные

- var testListContent = ['Item1', 'Item2', 'Item3'];
- var hdrDisplay = {imgLink: './img/icons/eye.svg', titleGreen: 'hdr', title: 'display', text: 'Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.'}
- var inputLag = {imgLink: './img/icons/clock.svg', titleGreen: 'input', title: 'lag', text: 'Мониторы с технологией G‑SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.'}
- var highRefreshRate = {imgLink: './img/icons/arrows.svg', titleGreen: 'high refresh', title: 'rate', text: 'NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.'}
- var wideColorGamut = {imgLink: './img/icons/circles.svg', titleGreen: 'wide color ', title: 'gamut', text: 'Современные мониторы G‑SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.'}

- var cards = [hdrDisplay, inputLag, highRefreshRate, wideColorGamut]