mixin list(cards)
    ul(class!=attributes.class)
      each card in cards
          li.card
              svg(width="152" height="71" viewBox="0 0 152 71" xmlns="http://www.w3.org/2000/svg")
                  path(d="M2.85388 36.075C2.69763 35.8842 2.55746 35.7104 2.4334 35.5546C2.58294 35.386 2.75391 35.1955 2.94607 34.9845C3.81029 34.0352 5.10244 32.6718 6.79997 31.032C10.1962 27.7513 15.2082 23.3712 21.6555 18.9907C34.5563 10.2256 53.1409 1.5 76 1.5C100.373 1.5 118.954 10.2359 131.453 18.9791C137.704 23.3519 142.428 27.723 145.585 30.9946C147.162 32.6299 148.347 33.989 149.133 34.934C149.34 35.1823 149.519 35.402 149.67 35.5905C149.557 35.7617 149.426 35.9572 149.276 36.1751C148.632 37.1106 147.645 38.4597 146.286 40.085C143.57 43.3361 139.373 47.6876 133.483 52.044C121.718 60.7453 103.151 69.5 76 69.5C51.3747 69.5 32.795 60.7624 20.3626 52.0229C14.1442 47.6515 9.46792 43.282 6.35147 40.012C4.7937 38.3775 3.62711 37.0192 2.85388 36.075Z" stroke-width="3")
              .card__icon(style={'background-image': `url(${card.imgLink})`})
              h2.card__title
                  span.card__title_pick=card.titleGreen + ' '
                  = card.title
              p.card__text=card.text
