//check fonts on https://fonts.google.com/ first
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@400;700&display=swap');

$headline1:  700 42px/66px 'Play' sans-serif;
$headline2: 700 33px/53px 'Play', sans-serif;
$headline3: 700 26px/36px 'Play', sans-serif;
$subtitle1: 700 20px/34px'Roboto', sans-serif;
$body1: 400 16px/28px 'Roboto', sans-serif;
$caption: 400 13px/24px 'Roboto', sans-serif;
