//check fonts on https://fonts.google.com/ first

@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  src: url('./../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  src: url('./../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'PlayRegular';
  font-style: normal;
  src: url('./../fonts/Play/Play-Regular.ttf');
}

@font-face {
  font-family: 'PlayBold';
  font-style: normal;
  src: url('./../fonts/Play/Play-Bold.ttf');
}


$headline1: 700 42px/66px 'PlayBold', sans-serif;
$headline2: 700 33px/53px 'PlayBold', sans-serif;
$headline3: 700 26px/36px 'PlayBold', sans-serif;
$headline3Regular: 400 26px/36px 'PlayRegular', sans-serif;
$subtitle1: 700 20px/34px 'RobotoBold', sans-serif;
$body1: 400 16px/28px 'RobotoRegular', sans-serif;
$caption: 400 13px/24px 'RobotoRegular', sans-serif;
