//check fonts on https://fonts.google.com/ first

@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  src: url('./../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  src: url('./../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'PlayRegular';
  font-style: normal;
  src: url('./../fonts/Play/Play-Regular.ttf');
}

@font-face {
  font-family: 'PlayBold';
  font-style: normal;
  src: url('./../fonts/Play/Play-Bold.ttf');
}


