.cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(255px, 1fr) );
  grid-gap: 59px;
  padding: 0;
  margin-bottom: 49px;

  @include media-breakpoint-up(md) {
    grid-gap: 30px;
  }
}

.card {
  position: relative;

  &__title {
    font: $headline3Regular;
    margin-top: 37px;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-base;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    &_pick {
      font: $headline3;
      color: $green-main;
    }
  }

  &__text {
    margin: 13px 0 0;
    color: #E1E1E1;
    font: $body1;
    letter-spacing: $letter-spacing-base+0.05;

  }

  &__icon {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 71px;
    width: 100%;
  }

  svg {
    display: block;
    margin: 0 auto;
    fill: none;
    stroke: $white;
  }

  &:hover {
    & svg {
      fill: $green-main;
      fill-opacity: 25%;
      stroke: $green-main;
    }
  }
}