#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
				button.close.modal__button-close(type='button' data-dismiss='modal' aria-label='Close') &times;
				h5#exampleModalLabel.modal__title преимущества g‑sync
				form.modal__form
					input.modal__form__input(placeholder='Имя' type='text' name='name' required=true)
					input.modal__form__input(placeholder='Mail' type='email' name='email' required=true)
					button.modal__form__button-buy(type='submit') Купить
