#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-body
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
				h5#exampleModalLabel.modal-title преимущества g-sync
					form
						input(placeholder='Имя' type='text' name='name' required=true)
						input(placeholder='Mail' type='email' name='email' required=true)
						button.btn.btn-primary(type='submit') Купить
