// глобальные стили кроме normalize
.page-wrapper {
  color: $white;
  background-color: $black;
  min-height: 100vh
}
.container {
	@include make-container();
	@include make-container-max-widths();
}

img {
	@include img-fluid();
}
